*,
*:before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  width: 80%;
  display: flex;
  margin: 0 auto 100px;
  padding-top: 100px;
}

.radio {
    input[type='radio'] {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input[type='radio'] + label {
        position: relative;
        display: flex;
        cursor: pointer;
    }

    .radio__item {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        border: 1px solid #0097b3;
        border-radius: 50%;
        transition: border .3s;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 8px;
            height: 8px;
            margin-top: -4px;
            margin-left: -4px;
            background-color: #0097b3;
            border-radius: 50%;
            opacity: 0;
            transform: scale(0);
            transition: all .3s;
        }
    }

    .radio__text {
      transition: all .3s;
    }

    //label:hover {
    //    .radio__item {
    //        border-width: 2px;
    //    }
    //}

    input[type='radio']:checked + label {
      cursor: default;

      .radio__item {
          background-color: #fff;

          &:before {
              opacity: 1;
              transform: scale(1);
          }
      }
      .radio__text {
        color: #0097b3;
      }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    margin-right: 28px;

    input[type='checkbox'] {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .checkbox__item {
        position: relative;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        border: 1px solid #1797b1;
        border-radius: 5px;

        //&:hover {
        //    border-width: 2px;
        //}
    }

    label {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        color: #13353f;
        cursor: pointer;
        span {
            display: inline-block;
            transition: all .3s;
        }
    }

    input[type='checkbox']:checked + label {
        color: #0097b3;

        .checkbox__item {
            position: relative;
            background-color: #1797b1;

            //&:hover {
            //    border-width: 1px;
            //}

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url('/image/bg-elements/icon-check.svg') center no-repeat;
            }
        }
    }
    &.checkbox--info {
        input[type='checkbox']:checked + label {
            font-weight: bold;

            .checkbox__item {
                background-color: #fff;
                border-color: #fff;

                //&:hover {
                //    border-color: #fff;
                //}

                &:before {
                    background: url('/image/bg-elements/icon-check--white.svg') center no-repeat;
                }
            }
        }
    }
}
